.card{
    padding: 20px; 
    background: #005f73; 
    margin: 5px; 
    display: flex; 
    flex-direction: column; 
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    width: 10%; 
    min-width: 100px; 
    transition: transform 0.3s ease-in;
}

.symbol{
    font-size: 40px; 
    position: relative; 
}

.title{
    font-family: 'Poppins', sans-serif;
    font-size: 13px; 
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    overflow-x: hidden; 
}

.copy-msg {
    visibility: hidden;
    font-size: 12px;
    color: black;
    margin-bottom: -10px; 
    font-family: monospace;
}

.card:hover{
    transform: scale(1.1);
    background: #0a9396; 
}

.card:hover .title{
    visibility: visible;
}

.card:hover .copy-msg{
    visibility: visible;
}

.card:active {
    background: white; 
}   