.emoji-container{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto; 
}

.error{
    background: #FFBABA; 
    padding: 20px 40px; 
    border-radius: 10px;
    color: #D8000C; 
    font-size: 18px; 
}

.error-icon{
    font-size: 25px;
    vertical-align: middle;
    margin-right: 10px; 
}
