.header {
    text-align: center;
    color: black;
    font-family: 'DynaPuff', cursive;
    font-size: 24px;
    margin: 20px; 
    word-spacing: 5px;
}

.emoji-icon {
    padding: 0 10px 0;  
    font-size: 40px; 
    color: #e63946; 
    vertical-align: middle;
}

@media all and (max-width: 480px){
    .header{
        font-size: 18px; 
        margin: 0; 
        margin-top: 20px; 
    }

    .emoji-icon{
        font-size: 25px; 
    }
}