input{
    padding: 15px 25px; 
    font-size: 17px; 
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    border: 1px solid #dddfe2; 
    margin: 25px auto 15px; 
    width: 60%; 
}

@media all and (max-width: 480px){
    input{
        width: 90%; 
    }
}